.container__big-card{
    border: solid white 3px;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.big-card__tilte >h1{
    font-size: 20px;
    margin-top: 15px;
    
}

.big-card__description{
    margin-top: 20px;
}

.big-card__description>p>a{
    color: gray;

}

.big-card__photo>img{
    width: 100%;
    max-width: 400px;
}

